@import url("./features/desktop/desktop.css");
@import url("./features/mobile/mobile.css");
@import url("./features/toolbar/toolbar.css");
:root {
  --frame-height: 70vh;
}
.app {
  width: 100vw;
  height: 100vh;
}
