.mobile {
  width: 100%;
  height: 100%;
}
.mobile__bg {
  background-color: #d6ecf8;
  width: 100%;
  height: 100%;
}
.app {
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 769px) {
  .mobile__bg {
    height: 80vh;
    aspect-ratio: 9/19;
    width: auto;
  }

  .mobile {
    width: 50vw;
    display: flex;
    justify-content: center;
    height: fit-content;
  }
}
