:root {
  --frame-height: 70vh;
}
.app {
  width: 100vw;
  height: 100vh;
}
.mobile__container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.mobile__display {
  padding: 10vh 5% 0 5%;
}
.mobile__white-container {
  background-color: white;
  padding: 3%;
  height: 70vh;
  overflow-y: auto;
  border-radius: 16px;
}
.mobile__bg {
  background-color: #d6ecf8;
  width: 100%;
  height: 100%;
}
.mobile__frame {
  position: absolute;
  z-index: 2;
  width: fit-content;
  pointer-events: none;
}
.mobile__frame-img {
  height: var(--frame-height);
}

.mobile__heading {
  text-align: center;
  margin: 10px 0;
}

@media only screen and (min-width: 769px) {
  .editor__container {
    height: 35vh;
    width: 40vw;
  }
  .desktop__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .toolbar {
    padding: 0 2% 0 10%;
    width: 50vw;
  }
  .mobile {
    padding: 0 10% 0 2%;

    width: 50vw;
  }
  .mobile__container {
    display: flex;
    justify-content: center;
    height: fit-content;
  }
  .mobile__bg {
    height: var(--frame-height);
    aspect-ratio: 9/19;
    width: auto;
    border-radius: 50px;
    margin-left: 4px;
  }
  .mobile__white-container {
    margin: 15% 2%;
    height: calc(var(--frame-height) * 0.7);
  }
  .mobile__display {
    /* These values are taken to position the content within the frame */
    margin: calc(var(--frame-height) * 0.0672)
      calc(var(--frame-height) * 0.02635) calc(var(--frame-height) * 0.0295)
      calc(var(--frame-height) * 0.01635);
    padding: 1% 0%;
    height: calc(var(--frame-height) * 0.9033);
    word-wrap: break-word;
  }
}
